<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required runtime permission to display push notifications on Android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebexConnectDemo"
        tools:targetApi="35">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.WebexConnectDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.WebexConnectDemo.Home" />
        <activity
            android:name=".CreateThreadActivity"
            android:exported="false"
            android:theme="@style/Theme.WebexConnectDemo" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false"
            android:theme="@style/Theme.WebexConnectDemo"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="command"
                    android:scheme="webexconnect" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>